@import '../../scss/service';

.signUp {
  width: 100%;
  max-width: $xs;
  margin-top: 85px;
}

.formTitle {
  margin-bottom: 45px;
  text-align: center;
}

.input,
.button {
  width: 100%;
}

.input {
  @extend %input;
  margin-top: 18px;

  &:first-of-type {
    margin-top: 0;
  }
}

.button {
  @extend %button;
  margin-top: 35px;
  background-color: $red;
}

.otp {
  margin-top: 18px;
}
