@import '../../../scss/service';

.contacts {
  display: flex;
  flex-grow: 1;

  @include respond(md) {
    flex-direction: column;
  }
}

.section {
  padding: px2em(30px) px2em(80px);

  @include respond(md) {
    display: flex;
    // gap: px2em(30px);
    padding: px2em(resize(30em, 0.5)) px2em(resize(80px, 0.2));
  }

  &Content {
    margin-left: px2em(30px);
  }

  &Title {
    margin-top: px2em(30px);

    @include respond(md) {
      margin-top: 0;
    }
  }
}
.icon {
  width: 56px;
  height: 56px;
  background: url('/theme/icons/icons_56x56.svg') no-repeat;
}

.phones {
  background-position: 0 -56px;
}

.emails {
  background-position: -224px 0;
}

.list {
  margin-top: 20px;
  list-style: none;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.feedback {
  max-width: none !important;
}
