@import '../../scss/service';

.languageSwitcher {
  position: fixed;
}

.language {
  display: inline-block;
  border: 1px solid $black;
  border-radius: 7px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;

  &.current,
  &:hover {
    background-color: $black;
    color: $white;
  }

  a {
    display: block;
    padding: 0.3em;
  }
}
