@import '../../../scss/service';

.section {
  width: 100%;
  max-width: $lg;

  @include respond(sm) {
    font-size: px2em(14px);
  }

  @include respond(xs) {
    font-size: px2em(12px);
  }
}

.title {
  font-size: px2em(35px);
  font-weight: bold;
  text-align: center;
  margin: px2em(25px, 35px) 0;
}
