@import '../../../scss/service';

.input {
  @extend %input;
  width: 100%;
  text-align: center;
}

.message {
  color: lighten($red, 25%);
  margin-top: 15px;
}

.button {
  border: none;
  background-color: transparent;
  margin-top: 5px;
  cursor: pointer;
}
