@import '../../../scss/service';
@import '../../../scss/grid/animations.scss';

.input {
  @extend %input;
  width: 100%;
  text-align: center;
}

.message {
  color: lighten($red, 25%);
  margin-top: 15px;
}

.button {
  border: none;
  background-color: transparent;
  margin-top: 5px;
  cursor: pointer;
}

.testOTP {
  @extend %box-shadow;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: $yellow;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.3em;
  z-index: 999;
  color: $red;
  animation: fade-out 0.2s linear 5s forwards;
}
