@import '../../../scss/service';

.input {
  @extend %input;
  width: 100%;
  text-align: center;
}

.error {
  border-color: $red;
}

.agree_terms {
  margin: px2em(20px) auto;
  display: flex;
  align-items: flex-start;
}

.resend {
  padding: 0 px2em(30px);

  .item {
    margin-top: px2em(15px);
  }
}

.message {
  color: lighten($red, 25%);
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $blue;
}

.testOtp {
  @extend %box-shadow;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: $yellow;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.3em;
  z-index: 999;
  color: $red;
  animation: fade-out 0.2s linear 5s forwards;
}
