@import '../../../scss/service';

.container {
  max-width: $sm;
  margin: auto;
}

.section {
  display: flex;
  margin-top: 50px;
}

.icon {
  background: url('/theme/icons/icons_56x56.svg') no-repeat;
  background-position-y: -56px;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  margin-right: 75px;
}

$position-x: -56px;

@for $i from 0 through 3 {
  .icon#{$i} {
    background-position-x: $position-x * ($i + 1);
  }
}

.title {
  margin-bottom: 15px;
}

.text,
.list {
  color: lighten($black, 50%);
}

.list {
  list-style: none;
}
