@import './../../scss/service/';

.header_menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.menu_box {
  display: flex;
  align-items: center;
  padding-top: 25px;
  flex-wrap: wrap;
  justify-content: center;

  @include respond(md) {
    display: none;
  }

  @include page-state('.menu-open') {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.divider {
  display: none;
  width: 100%;
  border: none;

  @include respond(lg) {
    display: block;
  }

  @include respond(xl) {
    display: none;
  }
}
