@import '../../scss/service';

.repayment {
  max-width: $sm;
  width: 100%;
  display: flex;

  @include respond(sm) {
    font-size: px2em(14px);
    flex-direction: column;
    max-width: px2em(390px, 14px);
  }
}

.item {
  flex-grow: 1;
}

.actions {
  margin-left: px2em(30px);

  @include respond(sm) {
    margin-left: 0;
    margin-top: px2em(30px);
    width: 100%;
    max-width: none;
  }
}
