@import '../../scss/service/';

.deal {
  max-width: $md;
  width: 100%;
  margin-top: px2em(85px);

  @include respond(sm) {
    max-width: px2em(370px);
    margin-top: px2em(50px);
  }
}

.title {
  text-align: center;
}

.content {
  display: flex;
  // gap: 30px;

  @include respond(sm) {
    flex-direction: column;
  }
}

.info {
  margin-left: px2em(30px);
}

.links {
  margin-top: 30px;

  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  @extend %button;
  background-color: $red;
  width: 100%;
  margin: 30px 0;
}

.reject {
  text-align-last: left;
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.item {
  flex-grow: 1;
}

.actions {
  margin-left: px2em(30px);

  @include respond(sm) {
    margin-left: 0;
    margin-top: px2em(30px);
    width: 100%;
  }
}

.button {
  @extend %button;
  background-color: $red;
  max-width: px2em(230px);
  width: 100%;
  display: block;
  margin: px2em(30px) auto;

  @include respond(sm) {
    max-width: none;
  }
}
