@import '../../scss/service';

.title {
  margin-top: 50px;
}

.accounts {
  max-width: $md;
  margin-top: px2em(45px, 24px);
}

.submitButton {
  @extend %button;
  background-color: $red;
  width: 100%;
  max-width: 220px;
  margin: 50px auto;
  display: block;
}
