@import '../../scss/service';

.authorization {
  width: 100%;
  max-width: $xs;
  margin-top: px2em(85px);

  @include respond(xs) {
    margin-top: px2em(resize(85px, 0.4));
  }
}

.formTitle {
  margin-bottom: 45px;
  text-align: center;

  @include respond(xs) {
    margin-bottom: px2em(resize(45px, 0.4));
  }
}

.input,
.button {
  width: 100%;
}

.input {
  @extend %input;
  margin-top: 18px;

  &:first-child {
    margin-top: 0;
  }
}

.button {
  @extend %button;
  margin-top: 35px;
  background-color: $red;
}

.otp {
  margin-top: 18px;
}

.error {
  border-color: $red;
}
