@import './../../scss/service/';

.header {
  background: $blue-light;
  position: relative;
  transition: all 0.2s;

  @include respond(md) {
    height: 96px;
  }

  @include page-state('.content-page') {
    margin-bottom: 40px;
    background: $white;
  }

  &_blue {
    background: $blue-light;
  }

  &_white {
    background: $white;
  }
}

.container {
  padding-top: 25px;
  justify-content: space-between;
  display: flex;

  @include respond(md) {
    padding-bottom: 25px;
    flex-direction: column;
  }

  @include respond((lg, xl)) {
    flex-direction: column;
    align-items: center;
  }

  @include page-state('.content-page') {
    border-bottom: 1px solid $gray-misty;
    padding-bottom: 25px;
  }

  @include page-state('.menu-open') {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
  }
}
