@import './../../scss/service/';

.header {
  background: $blue-light;
  position: relative;
  transition: all 0.2s;

  @include respond(md) {
    height: 96px;
  }

  &_blue {
    background: $blue-light;
  }

  &_white {
    background: $white;
  }
}

.container {
  padding-top: 25px;
  justify-content: space-between;
  display: flex;

  @include respond(md) {
    padding-bottom: 25px;
    flex-direction: column;
  }

  @include respond((lg, xl)) {
    flex-direction: column;
    align-items: center;
  }
}
