@import '../../../scss/service';

.section {
  padding: 25px;
  background-color: $yellow;
  border: 3px solid $white;
  border-width: 3px 0;
}

.title {
  text-align: center;
  font-size: px2em(24px);
}

.items {
  display: flex;
  margin-top: 20px;
  counter-reset: numeration;
}

.item {
  flex-grow: 1;
  text-align: center;
  color: #8f8f8e;
  color: lighten($black, 50%);

  &Icon {
    width: 52px;
    height: 52px;
    background-color: $orange;
    margin: auto;
    border-radius: 50%;
    counter-increment: numeration;
    position: relative;

    &:before {
      content: counter(numeration);
      color: $black;
      font-weight: bold;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 4em;
    }
  }

  &Text {
    margin-top: 45px;
  }
}

.loanButton {
  margin: 30px auto 0;
  display: block;
}
