@import '../../../scss/service';

.tabs {
  width: 100%;
  text-align: center;
  margin: 85px 0 40px 0;
  font-size: 0;

  @include respond(sm) {
    margin: resize(85px, 0.5) 0;
  }
}

.tab {
  display: inline-block;
  margin: 0 15px;
  background-color: lighten($blue, 30);
  width: 20%;
  max-width: 130px;
  height: 2px;

  @include respond(sm) {
    margin: 0 5px;
  }
}

.currentTab {
  background-color: $blue;
}
