@import './../../../scss/service/';

.menu {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $white;

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    margin: 0 17px;
    display: inline-block;
    vertical-align: middle;

    @include page-state('.menu-open') {
      width: 100%;
      margin: 20px 0;
      display: block;
    }

    a {
      color: $white;

      @include page-state(('.menu-open', '.content-page')) {
        color: $gray-dark;
      }
    }
  }
}
