@import "../../../scss/service";

.language {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.button {
  color: $white;
  background-color: $black;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  padding: 0.3em;
  user-select: none;
  border: 1px solid $white;
  border-radius: 7px;

  &.current,
  &:hover {
    background-color: $white;
    color: $black;
  }
}
