$font-family: Corbel, sans-serif;
$font-size: 16px;

$prefixes: -webkit-, -moz-, -ms-, -o-;

$xxs: 320px;
$xs: 480px;
$sm: 640px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1440px;

$black: #040404;
$white: #f1f1f1;
