@function golden-ratio($num) {
  @return round($num * $golden-ratio * 100) / 100;
}

@function getSize($string) {
  @if $string == 'xxs' {
    @return $xxs;
  } @else if $string == 'xs' {
    @return $xs;
  } @else if $string == 'sm' {
    @return $sm;
  } @else if $string == 'md' {
    @return $md - 1;
  } @else if $string == 'lg' {
    @return $lg - 1;
  } @else if $string == 'xl' {
    @return $xl - 1;
  } @else if $string == 'xxl' {
    @return $xxl - 1;
  }
}

@function clear-units($value) {
  @if type-of($value) == 'number' {
    @if (unitless($value)) {
      @return $value;
    } @else if unit($value) == 'em' {
      @return $value / 1em;
    } @else if unit($value) == 'px' {
      @return $value / 1px;
    } @else if unit($value) == 'pt' {
      @return $value / 1pt;
    }
  } @else {
    @warn "Not a number value: #{$value}";
    @return $value;
  }
}

@function px2em($size, $base-size: $font-size) {
  $size: clear-units($size);
  $base-size: clear-units($base-size);
  $result: round($size / $base-size * 100) / 100;
  @return #{$result}em;
}

@function resize($size, $percentage) {
  @return $size * $percentage;
}
