%box-shadow {
  box-shadow: 0 0 50px transparentize($black, 0.8);
}

%input {
  color: $gray;
  padding: 12px 35px;
  border: 1px solid $gray;
  border-radius: 8px;

  &.error {
    border-color: lighten($red, 25%);
  }
}

%button {
  cursor: pointer;
  background-color: $red;
  padding: 12px 35px;
  border: none;
  border-radius: 8px;
  color: $white;
}
