@import '../../scss/service';

.payment {
  max-width: $sm;
  margin: auto;
}

.fieldset {
  border: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
}

.input {
  @extend %input;
  flex-grow: 1;
}

.button {
  @extend %button;
  margin-left: 35px;
}
