.select-widget {
  // & &__clear-iIndicator {}
  // & &__container {}
  & &__control {
    padding: 0.75em 1.5em 0.75em 2em;
    border-radius: 0.5em;
    cursor: pointer;

    &--menu-is-open,
    &--is-focused {
      border-color: $gray;
      box-shadow: none;

      &:hover {
        border-color: $gray;
      }
    }

    &--menu-is-open {
      .select-widget__indicator {
        transform: rotate(180deg);
      }
    }
  }
  // & &__dropdown-indicator {}
  /* & &__group {
    &-heading {}
  } */
  & &__indicators {
    // &-container{}
    svg {
      display: none;
    }
  }
  & &__indicator {
    width: 16px;
    height: 16px;
    background: url('/theme/icons/icons_16x16.svg') -48px -64px no-repeat;

    &-separator {
      display: none;
    }
  }
  // & &__input {}
  /* & &__loading {
    &-indicator {}
    &-message {}
  } */
  & &__menu {
    margin-top: 0;

    // &-list {}
    // &-portal {}
  }

  /* & &__multi {
    &-value {}
    &-calue-label {}
    &-calue-remove {}
  } */
  // & &__no-options-message {}
  & &__option {
    cursor: pointer;

    &--is-disabled {
      opacity: 0.7;
    }
    &--is-focused {
      background-color: lighten($gray, 18%);
    }
    &--is-selected {
      background-color: $gray;
    }
  }
  & &__placeholder {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
  // & &__single-value {}
  & &__value-container {
    padding: 0;

    * {
      margin: 0;
      padding: 0;
    }
  }

  &--has-error {
    .select-widget {
      &__control {
        border-color: lighten($red, 25%);

        &:hover {
          border-color: lighten($red, 25%);
        }
      }
    }
  }

  &.orange {
    .select-widget {
      &__control {
        background-color: $orange;
        border: 1px solid $orange;

        &.select-widget__control {
          &--menu-is-open {
            border-color: $gray;
            background-color: $white;
          }
        }
      }
      &__indicator {
        background-position-y: -48px;
      }
      &__menu {
        margin-top: 0;
      }
      &__option {
        &--is-focused {
          background-color: lighten($orange, 18%);
        }
        &--is-selected {
          background-color: $orange;
        }
      }
      &__placeholder,
      &__single-value {
        color: $white;
      }
    }
  }
}
